.blog {
  margin: 50px 0;
}

.blog .boxItems {
  transition: 0.5s;
}

.blog .boxItems:hover {
  box-shadow: 0 2px 4px rgb(0, 0, 0 / 8%);
  cursor: pointer;
  transform: translate(-5px);
}

.blog img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}
